html,
* {
  margin: 0;
  padding: 0;
}
:root {
  --purple: #8c378c;
}
.purple {
  color: var(--purple);
}
.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 12%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  padding-right: 35px;
  background: url(../images/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  height: 100px;
}
#favorites,
#add_to_favorites {
  height: 50px;
}
#notification,
#chat {
  height: 40px;
}
#block,
#remove_from_favorites {
  height: 35px;
}
#profile {
  height: 30px;
}
.search-container input {
  height: 80%;
  padding: 5px;
}
.display-users {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: space-around;
  row-gap: 50px;
}
.user {
  padding: 15px 0;
  color: white;
  flex-basis: 21%;
  background-color: var(--purple);
}
.user-page {
  padding: 15px 0;
  color: white;
  width: 60%;
  margin: 50px auto;
  background-color: var(--purple);
}
.user-main {
  display: flex;
  justify-content: center;
  column-gap: 25%;
  margin-top: 30px;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
}
.user-profile {
}
.user-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-bio {
  margin: 20px 20%;
  font-size: 20px;
}
.user-photos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.user-page button {
  background-color: transparent;
  border: white;
  color: white;
  display: block;
  margin: 10px auto;
  font-size: 15px;
}
@media (max-width: 768px) {
  #logo {
    height: 70px;
  }
  #filter {
    font-size: 1.2em;
  }
  .search-container input {
    height: 50%;
    padding: 1px;
    width: 100%;
  }
  .user-main {
    flex-direction: column;
  }
  .user-info {
    padding: 0 25px;
  }
  .user-page {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user-photos {
    flex-direction: column;
  }
}
